div.goals{
  border:1px solid;
  border-radius:10px;
  -moz-border-radius: 10px;
  padding: 5px;
  width: 200px;
  font-size: 14px
}
div.goals h3{
  text-align: center;
  width:100%;
}
div.kind_1{
  margin-left: 375px;
  background-color: #d6f3c8;
  border-color : #55b128;
}
div.kind_2{
  float: left;
  background-color: #efccc4;
  border-color : #c33210;
}
div.kind_3{
  float: right;
  margin-right: 400px;
  background-color: #bfc5ef;
  border-color : #1629b7;
}
div.kind_4{
  clear: both;
  margin-left: 375px;
  background-color: #c9ade5;
  border-color : #7320c8;
}